{% block gpnl_election %}
	{% if ( fields ) %}
		<section class="block block-election">
			<div class="inner_block" style="background-image: url({{ fields.backgroundimage.src }})">
				<div class="page-template">
					{% if fields.istitleimage == 'title' %}
					<h1>{{ fields.title }}</h1>
						{% else %}
							<div class="col-12 col-md-8 col-lg-6">
								<img src="{{ fields.titleimage.src }}">
							</div>
							{% endif %}

					<div class="subtitle">{{ fields.subtitle }}</div>

					{# Showing a line of text explaining how many days are left to vote #}
					{% set today = date('now') | date ("Y-m-d") %}
					{% set difference = date(today).diff(date(fields.until)).days %}

					<h5>
						<span id="counter_total" data-num=""> </span>
						{% if fields.until < today %}
							Stemmen is niet meer mogelijk.
						{% else %}
							{% if difference == 0 %}
								Je kunt alleen vandaag nog stemmen!
							{% elseif difference == 1 %}
								Je kunt alleen vandaag en morgen nog stemmen!
							{% elseif difference <= 7 %}
								Stemmen kan nog maar {{ difference }} dagen!
							{% else %}
								Stemmen kan tot en met {{ fields.until | date ("j F Y") }}.
							{% endif %}
						{% endif %}
					</h5>


				<div class="row limit-visibility election-options"
				{%  if  options | length  < 4 %}style="margin: auto" {% endif %}">
						{% set i = 1 %}

						{% for option in options %}
							{% if (option.title) %}
								<div class="col-xl cover-card-column">
									<div class="fixed-ratio-wrapper">
										<div class="cover-card card-one" style="background-image: url({{ option.attachment.src }});background-position: center center;">
											<div class="cover-card-content">
												<a data-toggle="modal" data-target="#electionModal" data-id="{{ i }}">
													<h2 class="cover-card-heading">{{ option.title|e('wp_kses_post')|raw }}</h2>
												</a>
												{% if not fields.hideresults %}
													<div class="counter" data-counter="{{ i }}">
														<div class="counter__slider"></div>
														<div class="counter__text">
															<span class="counter__gettext"></span>
														</div>
													</div>
												{% endif %}

											</div>
											{% if option.subtitle %}
												<p class="educationcovers__card__p">{{ option.subtitle|e('wp_kses_post')|raw }}</p>
											{% endif %}

											<a class="btn btn-action btn-block cover-card-btn"
											   data-toggle="modal" data-target="#electionModal" data-id="{{ i }}">Info
												{% if not (fields.until < today) %}
												& Stem
												{% endif %}
											</a>
										</div>
									</div>
								</div>
								{% set i = i + 1 %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>


	  {# Voting modal #}
	  <div class="modal fade" id="electionModal" tabindex="-1" role="dialog" aria-labelledby="electionModalLabel" aria-hidden="true" data-num="{{ i - 1 }}">
		  <div class="modal-dialog modal-dialog-centered" role="document">
			  <div class="modal-content">
				  <div class="modal-header">
					  <h2 class="modal-title" id="electionModalLabel"></h2>
					  <h3 class="modal-subtitle"></h3>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Sluit">
						  <span aria-hidden="true">&times;</span>
					  </button>
				  </div>
				  <div class="modal-body"></div>

				  <div class="modal-form gpnl-petition">
					  <div class="front">
						{% if not (fields.until < today) %}
							<form class="gpnl-petitionform" id="election-form" onsubmit="return false;">
							    <div class="form-group">
							  	  <label hidden for="name">Naam</label>
							  	  <input name="name" required type="text" class="form-control" placeholder="Voornaam">
							    </div>
							    <div class="form-group">
							  	  <label hidden for="mail">Email</label>
							  	  <input name="mail"  required type="email" class="form-control" placeholder="E-mail">
							    </div>

							    <div class="form-group">
							  	  <label hidden for="phone">Telefoonnummer</label>
							  	  <input name="phone" type="text" class="form-control" placeholder="Telefoonnummer">
							    </div>
							    <div class="form-group optin">
							  	  <input class="form-check-input gpnl-petition-checkbox" name="consent" type="checkbox" />
							  	  <label class="gpnl-petition-checkbox-label" for="consent"><small class="form-check-label">{{ fields.consent }}</small></label>
							    </div>
							    <label for="phone"><small >Vul je je telefoonnummer in? Dan kan Greenpeace jou telefonisch benaderen voor giftverzoeken of updates rondom lopende campagnes.</small></label>
							    <input type="text" name="marketingcode" value="" hidden readonly>
							    <input type="text" name="literaturecode" value="{{ fields.literaturecode }}" hidden readonly>
							    <input type="text" name="form_id" value="" hidden readonly>
							</form>
						  {% endif %}
					  </div>
					  <div class="gpnl-petition-thank back">
						  <div class="card">
							  <div class="card-body">
								  <h5 class="card-title">{{ fields.thanktitle|e('wp_kses_post')|raw }}</h5>
								  <p class="card-text">{{ fields.thanktext|e('wp_kses_post')|raw }}</p>
								  {% if not fields.hideresults %}
									  <div class="counter" data-counter="">
										  <div class="counter__slider"></div>
										  <div class="counter__text">
											  <span class="counter__gettext"></span>
										  </div>
									  </div>
								  {% endif %}
									  {% if (fields.donatebutton) %}
										  <a class="btn btn-primary btn-block" href="{{ fields.donatebuttonlink }}" role="button">{{ fields.donatebutton }}</a>
									  {% endif %}
									  {% if not fields.hidesharingbuttons %}
									  <div class="gpnl-petitionshare">
										  <a class="btn btn-primary btn-block gpnl-share-facebook"
											 href="https://www.facebook.com/sharer/sharer.php?u={{ fields.current_url|url_encode }}" target="_blank" role="button" onclick="fireShareEvent('facebook');">
											  FACEBOOK
										  </a>
										  <a class="btn btn-primary btn-block gpnl-share-twitter"
											 href="https://twitter.com/share?url={{ fields.current_url }}&text={{ fields.twittertext }}&via={{ fields.social_accounts.twitter }}&related={{ fields.social_accounts.twitter }}" target="_blank" role="button" onclick="fireShareEvent('twitter');">
											  TWITTER
										  </a>
									  </div>
								  {% endif %}
							  </div>
						  </div>
					  </div>
				  </div>
				  <div class="modal-footer">
						{% if not (fields.until < today) %}
						  <div class="small policies">
							  <div class="row">
								  <div class="col-8">
									  Greenpeace beschermt je gegevens en geeft ze niet aan derden voor commerci&euml;le
									  doeleinden. Lees ook ons
									  <a href="https://www.greenpeace.org/nl/privacystatement/" target="_blank">privacy-beleid</a> en
									  de <a href="{{ fields.campaignpolicy }}" target="_blank" >algemene voorwaarden</a> van deze actie.
								  </div>
								  <div class="col-4">
									  <a href="https://privacywaarborg.nl/bedrijven/stichting-greenpeace-nederland/" target="_blank" class="privacywaarborg">
										  <img class="img-fluid" src="https://secured.greenpeace.nl/Global/nederland/image/template/privacy/PW-logo.png">
									  </a>
								  </div>
							  </div>
						  </div>
						{% endif %}
					  <button type="button" class="btn btn-cancel" data-dismiss="modal">Sluit</button>
					  {% if not (fields.until < today) %}
						<button type="submit" class="btn btn-primary btn-submit" form="election-form">Stem</button>
					{% endif %}
				  </div>
			  </div>
		  </div>
	  </div>

  {% endif %}
{% endblock %}
