{% block gpnl_newsletter %}
	{% if ( fields ) %}
		<section class="block happy-point-block-wrap block-wide newsletter__block">
			<picture>
				<img src="{{ fields.background_src.0|default(fields.default_image) }}"
					 style="object-position:{{ fields.focus_image }};opacity:{{ fields.opacity }};"
					 border="0"
					 srcset="{{ fields.background_srcset }}"
					 sizes="{{ fields.background_sizes }}"
					 alt="{{ fields.background_alt }}"
				/>
			</picture>
			<div class="page-template gpnl-newsletter__wrapper">
				<div class="gpnl-newsletter__text">
					{% if ( fields.title ) %}
						<h2 class="gpnl-newsletter__title">
							{{ fields.title }}
						</h2>
					{% endif %}

					{% if ( fields.subtitle ) %}
						<p class="gpnl-newsletter__description">{{ fields.subtitle }}</p>
					{% endif %}
				</div>
				<form class="gpnl-newsletter__form" onsubmit="return false;">
					<fieldset class="row">
						<div class="form-group col-12 col-md-6 col-lg-5 ">
							<input type="text" name="name" id="name" class="form-control" placeholder="Naam"
								   aria-describedby="helpId">
							{#							<small id="helpId" class="text-muted">Help text</small>#}
						</div>
						<div class="form-group col-12 col-md-6 col-lg-4 ">
							<input type="email" class="form-control" name="mail" id="mail"
								   aria-describedby="emailHelpId"
								   placeholder="E-mail">
						</div>
						{#							<small id="emailHelpId" class="form-text text-muted">Help text</small>#}
						<div class="form-group col-12 col-md-12 col-lg-3 ">
							<input type="submit" class="btn btn-primary submit-button-newsletter" value="Aanmelden">
							<input type="text" name="form_id" value="{{ fields.form_id }}" hidden readonly>
						</div>
					</fieldset>
				</form>
			</div>
		</section>
	{% endif %}
{% endblock %}
