{% block gpnl_educationcovers %}
    {% if ( fields ) %}
		<h3>Onderwerpen: </h3>
		{% if fields.tags %}
			<div id="tagselector">
				{% for tag in fields.tags %}
					<input type="checkbox" id="{{ tag }}" style="opacity: unset; position:unset;">
					<label for="{{ tag }}">{{ tag }}</label>
				{% endfor %}
			</div>
		{% endif %}
		<div class="row limit-visibility">
			{% for cover in fields.pages %}
				<div class="col-lg-4 col-md-6 cover-card-column" data-tags="{{ cover.tags }}">
					<div class="cover-card card-one" style="background-image: url({{ cover.image }});">
						<div class="cover-card-content">
							<h2 class="cover-card-heading">{{ cover.post_title|e('wp_kses_post')|raw }}</h2>
							<p>{{ cover.post_excerpt|truncate(20)|e('wp_kses_post')|raw }}</p>
						</div>
						<a class="btn btn-action btn-block cover-card-btn"
						   href=" # ">Lees meer</a>
					</div>
				</div>
			{% endfor %}
		</div>


    {% endif %}
{% endblock %}
